
<div class="wisteria sessions borders">
    <h2 class= "center red sessions">Game: <%=@this_post.game_title%></h2>
    <h2 class="sessions borders">Host: <%=@host.username%> </h2>
    <h3 class="sessions borders">Number of players: <%=@this_post.users.length%>/<%=@this_post.requested_number_of_players%> </h3>
    <p class="descriptions borders">Description: <%=@this_post.description%> </p>
    <p class="sessions">Team:</p>
    <%if @this_post.users.empty?%>
        <p class="sessions">None have joined yet</p>
    <%else%>
        <ul class="sessions">
            <%@this_post.users.each do |player|%>
                
                <li><%= player.username%></li>

            <%end%>
        </ul>
    <%end%>
    <% if current_user===@host %>
        <%= link_to "Delete this post", game_post_path(@this_post), method: "DELETE", class: "button alert sessions" %>
    <%elsif @this_post.requested_number_of_players == @this_post.users.length || @this_post.users.include?(current_user)%>
       
    <%else%>
        <%= link_to "Join this game", new_game_post_registration_path(@this_post.id), class: "button success sessions" %>
    <%end%>
</div>