<h2 class="center red sessions">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "form-labels wisteria" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-labels text-field"%>
  </div>

  <div class="field">
    <%= f.label :password, class: "form-labels wisteria" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-labels text-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "oh-i-membah"%>
      <%= f.label :remember_me, class: "wisteria"  %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "sessions button success"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
