<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/dogica" type="text/css"/>
  <title>The Great Divide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar blue">
    <h1><a href="/games" class="blue logo">The Great Divide</a></h1>

   
    

    <section class="top-bar-section blue">
      <strong><%=link_to "New Team Request", "/game_posts/new", class: "top-bar-section center borders-add add-button button-style" %></strong>
      
       <%- if current_user -%>
        <strong><a class="blue"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"blue" %></a></strong>
      <%- else -%>
        <strong><a class="blue"><%= link_to 'Sign Up', new_user_registration_path, class:"blue" %></a></strong>
        <strong><a class="blue"><%= link_to 'Sign In', new_user_session_path, class:"blue" %></a></strong>
      <%- end -%>
      
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>

</body>
</html>
