<!DOCTYPE html>
<html>
<head>
  <title>The Great Divide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="ivory">
  
  <nav class="top-bar blue">
    <h1><a href="/" class="blue borders">The Great Divide</a></h1>

    <section class="top-bar-section center borders-add ivory">
    <strong><%=link_to "Add a new game request.", new_game_post_path, class:"ivory" %></strong>
    </section>

    <section class="top-bar-section blue">
      <ul class="right blue">
        <%- if current_user -%>
          <li class="blue"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"blue" %></li>
        <%- else -%>
          <li class="blue"><%= link_to 'Sign Up', new_user_registration_path, class:"blue" %></li>
          <li class="blue"><%= link_to 'Sign In', new_user_session_path, class:"blue" %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
  <footer class="center" >
  This is a footer
  </footer>
</body>
</html>
